<h1>Tests</h1>

<% if @tests.present? %>
    <table>
      <tr>
        <th>Title</th>
        <th>Level</th>
        <th>Questions</th>
        <th>Actions</th>
      </tr>
      <%= render @tests %>
<% else %>
    <p>No tests yet</p>
<% end %>
</table>