<h1> '<%=@test.title.capitalize%>' test</h1>
<% if @questions.present? %>
    <h2>Question List:</h2>
    <table>
      <tr>
        <th>Body:</th>
        <th>Answers count:</th>
        <th colspan="3">Actions</th>
      </tr>
      <%= render @questions %>
<% else %>
    <p>No questions yet</p>
<% end %>
</table>