<footer class="footer">
  <div id="left"><p>  <%= link_to 'TestGuru', github_url('natalya-bogdanova', 'TestGuru')%>
    By <%= link_to 'Natalya Bogdanova', '/about/author'%><br>
    Web-based online testing service</p></div>
  <div id="right"><p>Implemented as a part of the educational program.<br>

    For more information: <%= link_to 'Thinknetika Online School', 'www.thinknetica.com'%></p></div>
  <div id="bot"><p>@<%=current_year%></p><br></div>
</footer>



