<footer class="footer">
  <div id="left"><p>  <%= link_to 'TestGuru', github_url('natalya-bogdanova', 'TestGuru'), target: :_blank%>
    By <%= link_to 'Natalya Bogdanova', '/about/author', target: :_blank %><br>
    Web-based online testing service</p></div>
  <div id="right"><p>Implemented as a part of the educational program.<br>

    For more information: <%= link_to 'Thinknetika Online School', 'https://thinknetica.com', target: :_blank%></p></div>
  <div id="bot"><p>@<%=current_year%></p><br></div>
</footer>



